
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCollaborateurLabel">Fiche d'un collaborateur</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.collaborateur.id">
            <label for="id">ID</label><input type="text" class="form-control" id="id" name="id" ng-model="vm.collaborateur.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_collaborateurNom">Nom</label><input type="text" class="form-control" name="collaborateurNom" id="field_collaborateurNom"
                    ng-model="vm.collaborateur.collaborateurNom"
                    required />
            <div ng-show="editForm.collaborateurNom.$invalid">
                <p class="help-block"
                    ng-show="editForm.collaborateurNom.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_collaborateurPrenom">Prenom</label>
            <input type="text" class="form-control" name="collaborateurPrenom" id="field_collaborateurPrenom"
                    ng-model="vm.collaborateur.collaborateurPrenom"
                    required />
            <div ng-show="editForm.collaborateurPrenom.$invalid">
                <p class="help-block"
                    ng-show="editForm.collaborateurPrenom.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_collaborateurDateNaissance">Date Naissance</label>
                <div class="input-group">
                    <input id="field_collaborateurDateNaissance" type="text" class="form-control" name="collaborateurDateNaissance" datetime-picker="{{dateformat}}" ng-model="vm.collaborateur.collaborateurDateNaissance" is-open="vm.datePickerOpenStatus.collaborateurDateNaissance"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('collaborateurDateNaissance')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.collaborateurDateNaissance.$invalid">
                <p class="help-block"
                    ng-show="editForm.collaborateurDateNaissance.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.collaborateurDateNaissance.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_collaborateurSexe">Sexe</label>
            <input type="text" class="form-control" name="collaborateurSexe" id="field_collaborateurSexe"
                    ng-model="vm.collaborateur.collaborateurSexe"
                    required />
            <div ng-show="editForm.collaborateurSexe.$invalid">
                <p class="help-block"
                    ng-show="editForm.collaborateurSexe.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_collaborateurEtatMarital">Etat Marital</label>
            <input type="text" class="form-control" name="collaborateurEtatMarital" id="field_collaborateurEtatMarital"
                    ng-model="vm.collaborateur.collaborateurEtatMarital"
                    required />
            <div ng-show="editForm.collaborateurEtatMarital.$invalid">
                <p class="help-block"
                    ng-show="editForm.collaborateurEtatMarital.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_collaborateurNombreEnfant">Nombre Enfant</label>
            <input type="text" class="form-control" name="collaborateurNombreEnfant" id="field_collaborateurNombreEnfant"
                    ng-model="vm.collaborateur.collaborateurNombreEnfant"
                     />
        </div>
        <div class="form-group" >
            <label class="control-label">Adresses</label>
            <div>
            </div>
        </div>
        <div class="form-group" >
            <label class="control-label">Email de contact</label>
            <div>
            </div>
        </div>
        <div class="form-group" >
            <label class="control-label">Fonctions</label>
            <div>
            </div>
        </div>
        <div class="form-group" >
            <label class="control-label">Classifications</label>
            <div>
            </div>
        </div>
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
